# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Python virtual environments
venv/
.venv/
env/
.env/

# Carpetas __pycache__ en cualquier nivel del proyecto
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos SQLite
db.sqlite3
intranet/db.sqlite3
*.sqlite3
*.sqlite3-journal
